name: fruit
description: "A new Flutter project."




version: 1.0.0+1

environment:
  sdk: ^3.7.0


dependencies:
  flutter:
    sdk: flutter
  #image_picker: ^1.2.1
  #file_picker: ^10.3.7

  cupertino_icons: ^1.0.8
  flutter_svg: ^2.0.17
  carousel_slider: ^5.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter


  flutter_lints: ^6.0.0


flutter:


  uses-material-design: true

  assets:
    - assets/logo/
    - assets/fruits/
    - assets/banners/
    - assets/category/
    - assets/icons/
    - assets/milkegg/
    - assets/bavergas/
    - assets/luandry/
    - assets/vegatbels/



  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
